@using System.Security.Claims

<h2>LOG IN OR REGISTER</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>

    using (Html.BeginForm("LogOff", "Account"))
    {
        
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    using (Html.BeginForm("Register", "Account"))
    {
        

        <button type="submit" class="register btn">REGISTER</button>
    }
        using (Html.BeginForm("LogOn", "Account"))
    {
        

        <button type="submit" class="login btn">LOG IN</button>
    }

}
<p>@Html.ActionLink("Item List", "Index", "Items")</p>